<div class="page-header">
	<h2>Customers' Orders</h2>
</div>
<div class="input-group col-md-5">
	<span class="input-group-addon">Filter by Product:</span>
	<input type="text" ng-model="orderFilter.product" class="form-control">
</div>
<br />
<table class="table">
	<tr>
		<th>Product</th>
		<th>Total</th>
	</tr>
	<tr ng-repeat="order in ordersAll | filter:orderFilter | orderBy:'name'">
		<td>{{order.product}}</td>
		<td>{{order.total | currency}}</td>
	</tr>
	<tr ng-class="totalType">
		<td>&nbsp;</td>
		<td>{{ ordersTotal | currency }}</td>
	</tr>
</table>